<section>
  <h1>Hey 🤙</h1>

  <p>
    I've had a busy career over the last several years and as a result I've neglected my personal site.
  </p>

  <p>
    So, I'm working on that again. You've reached the placeholder.
  </p>

  <p>
    If you're interested in following along with the deliberate over-engineering of my personal site
    you can do that on GitHub, at <%= link_to 'tylerwillingham/overengineered', 'https://github.com/tylerwillingham/overengineered', target: :_blank %>.
  </p>
</section>
